*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 15em;
}
body {
  font-size: 10px;
  background: url("http://wallpapercave.com/wp/xt21Bkn.gif");
  background-position: center;
  background-size: cover;
}

#gameboard {
  width: 31.2em;
  height: 31.2em;
  margin: 0 auto;
  float: center;
  size: fill;

}

.cell {
  background-color: black;
  border: white solid 1px;
  width: 100px;
  height: 100px;
  float: left;
  color: white;
  font-size: 10em;
  text-align: center;

}

.row {
  box-sizing: border-box;
}


